<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 25px;
    color: rgb(24, 21, 21);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  h1,
  h2{
    margin-top: 150px;
    font-weight: 400;
    font-size: 35px;
    font-weight: 400;
    margin-left: 500px;
  },
  h3{
    margin-left: 500px;
    margin-top: 1px;
    font-weight: 400;
    font-size: 25px;
  }

  .p {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 18px;
    align-self: start;
    font-weight: 200;
    font-weight: 100;
    margin-left: 825px;
  }

  .spacer {
    flex: 100;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #a6e9f1;
    color: rgb(32, 72, 192);
    font-weight: 200;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 60px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }

  .content {
    font-weight: 200;
    display: flex;
    margin: 150px auto 150px;
    padding: 16px 16px;
    max-width: 2000px;
    flex-direction: column;
    align-items: left;
    max-height: inherit;
    min-height: inherit;
  }


  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }


  footer {
    margin-top: 10px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }

</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="80"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span></span>
    <div class="spacer"></div>
    <a aria-label="Angular on twitter" target="_blank" rel="noopener" href="https://twitter.com/angular" title="Twitter">
      <svg id="twitter-logo" height="40" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
        <rect width="450" height="450" fill="none"/>
        <path d="M153.62,301.59c94.34,0,145.94-78.16,145.94-145.94,0-2.22,0-4.43-.15-6.63A104.36,104.36,0,0,0,325,122.47a102.38,102.38,0,0,1-29.46,8.07,51.47,51.47,0,0,0,22.55-28.37,102.79,102.79,0,0,1-32.57,12.45,51.34,51.34,0,0,0-87.41,46.78A145.62,145.62,0,0,1,92.4,107.81a51.33,51.33,0,0,0,15.88,68.47A50.91,50.91,0,0,1,85,169.86c0,.21,0,.43,0,.65a51.31,51.31,0,0,0,41.15,50.28,51.21,51.21,0,0,1-23.16.88,51.35,51.35,0,0,0,47.92,35.62,102.92,102.92,0,0,1-63.7,22A104.41,104.41,0,0,1,75,278.55a145.21,145.21,0,0,0,78.62,23" fill="#1976d2"/>
      </svg>
    </a>
</div>

<div class="content" role="main">

  <!-- Resources -->
  <h2>Invest for 
  <span #textElement class="text"></span>
  <span #blinkElement class="text blink"></span>
  </h2>
  <input type="hidden" #selection>
</div>
<app-count-down> </app-count-down>
<router-outlet></router-outlet>

<mat-card class="mat-elevation-z0" style="font-size: 13px;line-height: 0px;letter-spacing: -0.2em;font-weight: 50;font-style: normal; appearance: none;">
  <br>
  <div class="p" role="main">
  <form #subscribeForm='ngForm' (ngSubmit)='subscribe(subscribeForm)'>
    <mat-form-field>
        <input pattern="\S+@\S+\.\S+" matInput placeholder="Email" required #email='ngModel' name='userName'
              [(ngModel)]='subscribeData.email'>
        <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
            <div *ngIf="email && email.valid && (email.dirty || email.touched)">
                  Email is required.
            </div>
        </mat-error>
    </mat-form-field >
    <button mat-raised-button type='submit' style="font-size: 19px;line-height: 1.5;
      letter-spacing: -0.061em;font-style: normal;font-weight: 500; margin-left: 20px; background-color: rgb(24, 21, 21); 
      color: seashell;">Notify Me</button>
  </form>
  </div>
</mat-card>




<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
